a {
	display:block;
}
a:link {
	color: orange;
}

/*:visited pseudo class*/

a:visited{
	color: green;
}

input:focus {
	background-color: steelblue;
	color:white;
	font-size: 15px;
}

/*:hover pseudo class*/
a:hover {
	font-size: 20px;
	background-color: red;
}

button:active {
	color: green;
	background-color: red;
}

/*Pseudo Elements*/

p::first-line {
	color:green;
}

p::first-letter{
	font-size: 30px;
	color: red;
}


p::before{
	content: "Read this - ";
}

p::after{
	content: " The end.";
	color: yellow;
}

p::selection {
	background-color: yellow;

}

div{
	background-color: orange;
}